.content-country {
    display: flex;
    padding: 6px;
}

.content-country:hover {
    background-color: var(--color-hover);
    cursor: pointer;
}

.country-flag .country-name {
    align-items: center;
    display: flex;
    justify-content: center;
}

.country-flag {
    width: 10%;
    margin-right: 13px;
}

.country-flag img {
    width: 100%;
}

.list-icon-favorite {
    padding-left: 13px;
    width: 38px;
}